body{
    padding-top: 80px;
}

.card .fa:hover{
    color:red;
}

.form-group .input-qtde-carrinho{
    width:40px;
    border:1px solid green;
}

.fundo-cinza{
	background-color: #333;
}

/* @media

*/

@media (min-width: 34em) { 

}

@media (min-width: 48em) { 
	.input-qtde-carrinho{
	    width:40px;
	    border:1px solid green;
	}
	.list-group-item a i{
		
	}
}
